h1 {
    color: rgba(236, 20, 20, 0.701);
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}

img {
    width: 400px;
    display: flexbox;
    justify-content: center;
    
}
#thirdDiv {
    height: 600px;
    width: 500px;
    padding: 50px;
    border: solid black 2px;
    margin: 0px auto;
    background-color: rgba(248, 50, 50, 0.257);
}
#spanId {
    font-size: 18px;
    display: flex; justify-content: center;
   margin: 50px;
}
a {
    display: flex; justify-content: center;
}
body {
    background-image: url(https://th.bing.com/th/id/OIP.Xuru-iT9QjrXJBIt0V2KKwHaE8?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}